<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Profile Picture at the top -->
      <div class="text-center mb-4">
        <div class="profile-picture">
          <%= image_tag @user.profile_picture.url, class: 'rounded-circle img-fluid shadow', style: 'width: 150px; height: 150px;' if @user.profile_picture? %>
        </div>
      </div>

      <!-- Profile Information -->
      <div class="card shadow border-0">
        <div class="card-header text-center bg-primary text-white">
          <h2 class="fw-bold">My Profile</h2>
        </div>
        <div class="card-body p-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Name:</strong>
              <span class="float-end"><%= @user.name %></span>
            </li>
            <li class="list-group-item">
              <strong>Email:</strong>
              <span class="float-end"><%= @user.email %></span>
            </li>
            <li class="list-group-item">
              <strong>Phone Number:</strong>
              <span class="float-end"><%= @user.phone_number %></span>
            </li>
            <li class="list-group-item">
              <strong>Home Address:</strong>
              <span class="float-end"><%= @user.home_address %></span>
            </li>
            <li class="list-group-item">
              <strong>Account Number:</strong>
              <span class="float-end"><%= @user.account_number %></span>
            </li>
          </ul>
        </div>

        <!-- Edit Profile Button -->
        <div class="card-footer text-center">
          <%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-primary px-4 py-2 fw-bold' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pets Section -->
<div class="container py-2">
  <h1 class="d-flex justify-content-center">Your Pets</h1>

<!-- Pets Grid -->
<div class="container mt-5">
  <div class="row">
    <% @user.pets.each do |pet| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <% if pet.photo.present? %>
            <%= image_tag pet.photo.url, class: 'card-img-top img-fluid pet-photo' %>
          <% else %>
            <img src="path/to/placeholder-image.png" class="card-img-top img-fluid pet-photo" alt="Placeholder Image">
          <% end %>
          <div class="card-body">
            <h3 class="card-title"><%= pet.name %></h3>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
