<div class="card mb-4 mx-auto" style="max-width: 600px;">
  <div class="card-body">
    <h4 class="card-title text-center"><%= pet.name %></h4>

    <p class="card-text">
      <strong>Color:</strong> <%= pet.color %><br>
      <strong>Breed:</strong> <%= pet.breed %><br>
      <strong>Species:</strong> <%= pet.species %><br>
      <strong>Owner:</strong> <%= pet.user.name %><br>
    </p>

    <div class="text-center">
      <% if pet.photo.present? %>
        <%= image_tag pet.photo.url, class: "img-fluid pet-photo" %>
      <% else %>
        <p>No photo available</p>
      <% end %>
    </div>

    <% if @pet.qr_code.present? %>
      <div class="row justify-content-center my-4">
        <div class="col-md-4 text-center">
          <strong class="d-block mb-2">For Your Pets Collar!</strong>
            <%= image_tag @pet.qr_code, alt: "QR Code", class: "img-fluid" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
