<div class="container mt-5">
  <h1 class="text-center mb-4">Pets Profile</h1>
    <div class="d-flex justify-content-center mb-3">
    <%= link_to "Add Pet", new_pet_path, class: "btn btn-success" %>
    </div>

  <% if notice.present? %>
    <div class="alert alert-success text-center" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <% if pet.photo.present? %>
            <%= image_tag pet.photo.url, class: 'card-img-top img-fluid pet-photo' %>
          <% else %>
            <img src="path/to/placeholder-image.png" class="card-img-top img-fluid pet-photo" alt="Placeholder Image">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
            <p class="card-text"><strong>Breed:</strong> <%= pet.breed %></p>
            <p class="card-text"><strong>Species:</strong> <%= pet.species %></p>
            <p class="card-text"><strong>Color:</strong> <%= pet.color %></p>
            <div class="text-center">
            <%= link_to 'View Pet', pet_path(pet), class: 'btn btn-primary' %>
            <%= button_to 'Report Missing', report_missing_pet_path(pet), method: :post, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
