<div class="container text-center mt-5">
  <%= image_tag 'FurFound.png', alt: 'FurFound Logo', class: 'home_logo' %>
  <h1 class="display-4 m-4">FurFound</h1>
  <p class="lead mb-4">A platform to help reunite lost pets with their owners.</p>

  <% if current_user %>
    <p class="lead mb-4">Hello <%= current_user.name.capitalize %>, welcome to FurFound!</p>
  <% else %>
    <p class="lead mb-4">You are not signed in.</p>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg me-2' %>
    <%= link_to "Login", new_user_session_path, class: 'btn btn-secondary btn-lg' %>
  <% end %>
</div>

<!-- Placeholder for Missing with Reward photos -->
<div class="container mt-5">
  <h2 class="text-center mb-4">Missing Pets</h2>
  <div class="row">
    <!-- Example of a placeholder image -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag "Missing_1.jpg", class: "card-img-top", alt: "Placeholder image" %>
        <div class="card-body">
          <h5 class="card-title">Mozy</h5>
          <p class="card-text">Reward: Contact Owner</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag "Missing_2.jpg", class: "card-img-top", alt: "Placeholder image" %>
        <div class="card-body">
          <h5 class="card-title">Vhagar</h5>
          <p class="card-text">Reward ₱5000</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag "Missing_3.jpg", class: "card-img-top", alt: "Placeholder image" %>
        <div class="card-body">
          <h5 class="card-title">TonTon</h5>
          <p class="card-text">Reward ₱15,000</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Placeholder for Adopt -->
<div class="container mt-5">
  <h2 class="text-center mb-4">Help Strays out</h2>
  <div class="row">
    <!-- Example of a placeholder image -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag "Adopt_1.jpg", class: "card-img-top", alt: "Placeholder image" %>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag "Adopt_2.jpg", class: "card-img-top", alt: "Placeholder image" %>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag "Adopt_3.jpg", class: "card-img-top", alt: "Placeholder image" %>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>