<tr>
  <td><%= post.name %></td>
  <td><%= post.color %></td>
  <td><%= post.species %></td>
  <td>
    <!-- Dynamically generate QR code using the goqr.me API -->
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%= post_url(post) %>" alt="QR Code for Post" />
  </td>
  <td><%= post.breed %></td>
  <td><%= post.last_seen_location %></td>
  <td><%= post.date_reported %></td>
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', edit_post_path(post) if post.user == current_user %></td>
  <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } if post.user == current_user %></td>
</tr>
