<div class="container">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="mb-3 d-flex justify-content-center"> Have you seen <%= @post.name %>? </h1>

  <div class="mb-3">
    <% if @post.photo.present? %>
        <%= image_tag @post.photo.url, class: 'img-thumbnail', style: 'width: 300px;' %>
    <% else %>
        <p>No Photo</p>
    <% end %>
  </div>

  <div class="mb-3">
    <strong>Responds to:</strong>
    <span><%= @post.name %></span>
  </div>

  <div class="mb-3">
    <strong>Color:</strong>
    <span><%= @post.color %></span>
  </div>

  <div class="mb-3">
    <strong>Species:</strong>
    <span><%= @post.species %></span>
  </div>

  <div class="mb-3">
    <strong>Breed:</strong>
    <span><%= @post.breed %></span>
  </div>

  <div class="mb-3">
    <strong>Last Seen Location:</strong>
    <span><%= @post.last_seen_location %></span>
  </div>

  <div class="mb-3">
    <strong>Date Missing:</strong>
    <span><%= @post.date_reported %></span>
  </div>

  <% if @post.qr_code.present? %>
    <div class="mb-3">
      <strong>QR Code:</strong>
      <%= image_tag @post.qr_code, alt: "QR Code", class: "img-fluid" %>
    </div>
  <% end %>

  <div class="mb-3">
    <strong>Reported by:</strong>
    <span><%= @post.user.name %></span>
  </div>

  <div class="mt-4">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning btn-sm' %>
    <%= link_to 'Back', posts_path, class: 'btn btn-secondary btn-sm' %>
    <% if @post.user == current_user %>
      <%= link_to 'Delete Post', @post, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
